html{
	font-family: 'Slabo 27px', serif;
	text-align: center;
}

body {
  font-family: 'Slabo 27px', serif;
	max-width: 500px;
	margin: 0 auto;
	background: #fffcf0;
	color: #011627;
} 

input {
  font-family: 'Slabo 27px', serif;
	padding-top: 30px;
	width: 500px;
	height: 60px;
	font-size: 40px;
	border: 0;
	background-color: #fffcf0;
}

input:focus {
	outline:none;
}

li { 
	text-align: left;
	font-size: 40px;
	list-style: none;
	margin: 0;
}

li:hover {
	text-decoration: line-through;
}